<!DOCTYPE html>
<html lang="en">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<!-- Meta, title, CSS, favicons, etc. -->
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="icon" href="images/favicon.ico" type="image/ico" />

<title>Chill VietNam | </title>

<!-- jQuery -->
<script src="/admin/vendors/jquery/dist/jquery.min.js"></script>
<!-- Bootstrap -->
<link href="/admin/vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
<!-- Font Awesome -->
<link href="/admin/vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
<!-- bootstrap-daterangepicker -->
<link href="/admin/vendors/bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet">
<!-- Switchery -->
<link href="/admin/vendors/switchery/dist/switchery.min.css" rel="stylesheet">
<!-- Custom Theme Style -->
<link href="/admin/build/css/custom.min.css" rel="stylesheet">
<link href="/admin/build/css/style.css" rel="stylesheet">

</head>

<body class="nav-md">

    <div class="container body">
        <div class="main_container">
            <div class="col-md-3 left_col">
                <div class="left_col scroll-view">
                    <div class="navbar nav_title" style="border: 0;">
                        <a href="/" class="site_title"></i><img style="height: 80%" src="/admin/build/images/logo.png">
                            <span style="color: #e3c08d">Viet Nam</span></a>
                    </div>

                    <div class="clearfix"></div>

                    <!-- menu profile quick info -->
                    <div class="profile clearfix">
                        <div class="profile_info">
                            <span>Xin chào,</span>
                            <h2>Admin</h2>
                        </div>
                    </div>
                    <!-- /menu profile quick info -->

                    <br />

                    <!-- sidebar menu -->
                    <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
                        <div class="menu_section">
                            <h3>General</h3>
                            <ul class="nav side-menu">
                                <li><a href="/"><i class="fa fa-home"></i> Booking</a>
                                </li>
                                <li><a href="/events"><i class="fa fa-calendar"></i> Danh sách sự kiện</a>
                                </li>
                                <li><a href="/posts"><i class="fa fa-edit"></i> Danh sách bài viết</a>
                                    {{!-- <ul class="nav child_menu">
                                        <li><a href="/featuredposts">Danh sách bài viết nổi bật</a></li>
                                        <li><a href="/recommendedposts">Danh sách bài viết gợi ý</a></li>
                                    </ul> --}}
                                </li>

                            </ul>
                        </div>
                    </div>
                    <!-- /sidebar menu -->

                </div>
            </div>

            <!-- top navigation -->
            <div class="top_nav">
                <div class="nav_menu">
                    <div class="nav toggle">
                        <a id="menu_toggle"><i class="fa fa-bars"></i></a>
                    </div>
                    <nav class="nav navbar-nav">
                        <ul class=" navbar-right">
                            <li class="nav-item dropdown open" style="padding-left: 15px;">
                                <a data-toggle="tooltip" data-placement="top" title="login" href="/login"
                                    data-original-title="Logout">
                                    <span style="color:#890519" class="glyphicon glyphicon-off"
                                        aria-hidden="true"></span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
            <!-- /top navigation -->

            <!-- page content -->
            <div class="right_col" role="main">
                {{{body}}}
            </div>
        </div>


        <!-- Dropzone.js -->
        <script src="/admin/vendors/dropzone/dist/min/dropzone.min.js"></script>
        <!-- Bootstrap -->
        <script src="/admin/vendors/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <!-- bootstrap-datetimepicker -->
        <script src="/admin/vendors/moment/min/moment.min.js"></script>
        <script src="/admin/vendors/bootstrap-daterangepicker/daterangepicker.js"></script>
        <!-- Switchery -->
        <script src="/admin/vendors/switchery/dist/switchery.min.js"></script>

        <!-- Custom Theme Scripts -->
        <script src="/admin/build/js/custom.min.js"></script>

</body>

</html>